@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* ===== Typography Classes ===== */
.heading {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 700; 
  font-size: 40px;
  line-height: 55px;
}


.subheading {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 500; 
  font-size: 16px;
}

.content {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 5px 0 5px 0;
  line-height: 28px;
}

.content-section{
    font-family: var(--font-roboto), sans-serif;
  font-weight: 400;
  font-size: 16x;
  /* padding: 5px 0 5px 0; */
}

.contact-heading{
  font-family: var(--font-roboto), sans-serif;
  font-weight:500;
  font-size: 22px;
}

.title {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 500;
  font-size: 24px;
  /* padding: 5px 0 5px 0; */
}

.dual-section-heading{
    font-family: var(--font-montserrat), sans-serif;
  font-weight: 700; 
  font-size: 30px;
  padding: 5x 0 5px 0;
}

.center-section-heading{
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 700; 
  font-size: 35px;
  padding: 5px 0 5px 0;
}

.testimonial-text{
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400; 
  font-size: 24px;
  padding: 5px 0 5px 0;
}

.bulletPoints{
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400;
  font-size: 15px;
}


.process-bullet-section-heading{
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 500; 
  font-size: 22px;
  padding: 5x 0 5px 0;
}
.process-bullet-section-desc{
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400; 
  font-size: 20px;
  padding: 5x 0 5px 0;
}
/* ===== Designing Section ===== */

.section{
  padding: 0 80px 0 80px;
}

.section-vertical-padding{
  padding:60px 0 60px 0 ;
}


.common-section{
  padding: 60px 80px 60px 80px;
}


/* ===== Typography Classes ===== */

.button{
  border-radius: 5px;
  background-color: #7b0000;
  color: white;
  font-family: var(--font-roboto), sans-serif;
  font-weight: 500;
  font-size: 16px; 
  border: none;
  cursor: pointer;
  padding: 9px 35px 9px 35px;
}

.button:hover{
   background-color: #889F2D;
   box-shadow: 0px 4px 10px 0.3;
}

.buttonGreenBG{
  border-radius: 5px;
  background-color: #7b0000;
  color: white;
  font-family: var(--font-roboto), sans-serif;
  font-weight: 500;
  font-size: 16px; 
  border: none;
  cursor: pointer;
  padding: 9px 35px 9px 35px;
}

.buttonGreenBG:hover{
   background-color: #ffffff;
   color: #7b0000;
   box-shadow: 0px 4px 10px 0.3;
}

/* Services Buttons with white color */
.buttonService{
  border-radius: 5px;
  background-color: #ffffff;
  color: #7b0000;
  font-family: var(--font-roboto), sans-serif;
  font-weight: 500;
  font-size: 16px; 
  border: none;
  cursor: pointer;
  padding: 9px 35px 9px 35px;
}

.buttonService:hover{
   background-color: #889F2D;
   box-shadow: 0px 4px 10px 0.3;
   color: #ffffff;
}


/* Designing Menu  */

.nav-link {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 500; /* Medium */
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  color: #760000; /* default color */
  margin-right: 20px; /* spacing between links */
  transition: color 0.2s ease;
}

.nav-link:hover {
  color:#889F2D; /* optional hover effect (green) */
}

.nav-link.active {
  color: #889F2D; /* active color */
}



/* ------------------------------------Tab View---------------------------------- */

@media(max-width:1024px){
  .heading {
  font-weight: 700; 
  font-size: 35px;
}
}



/* ------------------------------------Mobile View---------------------------------- */


@media(max-width:768px){
  .heading {
  font-weight: 700; 
  font-size: 30px;
  line-height: 40px;
}
}

@media(max-width:768px){
  .title {
  font-size: 22px;
  padding: 5px 0 5px 0;
}
}

@media(max-width:768px){
  .content {
  font-weight: 400;
  font-size: 16px;
  padding: 5px 0 5px 0;
}
}

@media(max-width:768px){
  .dual-section-heading{
  font-weight: 700; 
  font-size: 28px;
  padding: 5x 0 5px 0;
}
}

@media(max-width:768px){
  .center-section-heading{
  font-weight: 700; 
  font-size: 28px;
  padding: 5px 0 5px 0;
}
}
/* Section */
@media(max-width:768px){
  .section{
  padding: 0 20px 0 20px;
}
}

/* Common-Section */
@media(max-width:768px){
  .common-section{
  padding: 25px 20px 25px 20px;
}
}


/* Section-Upper-Padding */
@media(max-width:768px){
  .section-vertical-padding{
  padding: 25px 20px 25px 20px;
}
}

@media(max-width:768px){
  .process-bullet-section-heading{
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 500; 
  font-size: 20px;
  padding: 5x 0 5px 0;
}
}


@media(max-width:768px){
  .process-bullet-section-desc{
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400; 
  font-size: 16px;
  padding: 5x 0 5px 0;
}
}
